@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --success: #00C252;
  --critical: #F23536;
  ;
}


.menu li > :not(ul, .menu-title, details, .btn):active, .menu li > :not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
  @apply bg-green-100 text-[#1C1C1C]
}

.avatar.online:before {
  @apply bg-success bottom-0 right-0 top-[unset] w-3 h-3
}
